.fullpage{
    width:100vw;
    height:100vh;
    display:flex;
    flex:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.divpage{

width:20vw;
margin-top:10vh;
color:red;

}

.skill{
   display:flex;
   align-content:stretch;
   
}
.nav{
background-color:gray;
font-size:20px;
position:fixed;
top:3vh;
right:1vw;

}
.nav a {
    padding:1vw;
    background-color:red;
    margin:1vw;
}
.nav2{
    position:fixed;
    font-size:20px;
    left:1vw;
    top:3vh;
    color:orange
}